$primary: hsl(237, 63%, 64%);

$gradient: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));

$vl-gray-blue: hsl(240, 78%, 98%);
 

$l-gray-blue: hsl(234, 14%, 74%);

$l-gray-blue-a: hsla(234, 14%, 74%, 0.5);
 

$gray-blue: hsl(233, 13%, 49%);
 

$d-gray-blue: hsl(232, 13%, 33%);

@mixin border-radius($radius){
    border-radius: $radius;
     } 

 @mixin box-shadow{
    box-shadow: 0 .5rem 2.5rem rgba(0,0,0,.15);
 }  

 @mixin bold{
    font-weight:700;
}

@mixin transition{
    transition: all 0.5s ease-in-out;
}


@mixin media-md{
    @media screen and(min-width: 768px){
        @content;
    }
}

@mixin media-lg{
 @media screen and(min-width: 1024px){
     @content;
 }
}