@import './config';

body{
    height:100vh;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    font-size:15px;
    text-align:center;
    background-color: $vl-gray-blue;
    @include bold;

}


h1{
    font-size:1.4em;
    color:$d-gray-blue;
    margin:1em;
    
}

h2{
  font-size: 1.2rem;
}


#top, #bottom{
    position:relative;
    z-index:-2;
}

#top img{
    
    position:absolute;
    transform: translate(8px, -80px);
}

#bottom{
 display:none;
}

header{
    text-align:center;
    z-index:1;
}

#togglePlan{
    display: none;
   
}

.switch{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    width: 45px;
    height: 26px;
    position: relative;
    color:$l-gray-blue;
    
    &:hover{
        opacity:0.7;
    }

    &::before {
        content: "Annually";
        margin-left: -4.4rem;
        padding-right: 0.5rem;
    }
    &::after{
        content: "Monthly";
        margin-left: 100%;
        padding-left: 1em;
      }

     & > span{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-image: $gradient;
      }

     & > span, label > span::before, label::before, label::after{
        position: absolute;
        @include border-radius(1.9em);
        font-size: 0.7rem;
      }

      & > span::before{
        content: "";
        position: absolute;
        background-color: white;
        @include transition;
        @include border-radius(50%);
        top: 2px;
        right: 1px;
        width: 22px;
        height: 22px;
      }

    
  }

#togglePlan:checked ~ label > span::before{
    transform: translateX(-20px);
  }

  section{
    width:90%;
    margin: 2em auto;  
    padding:1.2rem;
    margin-top:4rem;
    display: flex;
    flex-direction: column;
    text-align:center;

    h2{
        margin-bottom:2.5rem;
    }
     
    }
  
.basic-master{
    
      @include border-radius(10px);
      @include box-shadow;
      background-color: #FFFFFF;
      padding: 1em 1.2em;
      color:$gray-blue;

     h2{
       font-size:1.1rem;
       
      }
     
    
}
  
  .professional {
    @include border-radius(10px);
    padding: 1em 1.2em;
    background-image: $gradient;
    color:#FFFFFF;
    margin:1.5rem 0;
   
      li{
        border-bottom: 1px solid #FFF;
      }
  }

  ul{
      list-style-type: none;
      padding: 0;
  }

  li{
    padding: 1.30rem 0;
    border-bottom: 1px solid $l-gray-blue-a;
  }

  .monthly, .annually  {
    font-size: 2.7rem;
    padding: 0 0 0.4em;
  }
  

  .hide{
    display:none;
  }

  .show{
    display:block;
  }


  .learn{
    width: 90%;
    margin:0 auto;
    text-transform: uppercase;
    margin: 1rem 0;
    padding: 1em; 
    background-image: $gradient;
    border: none;
    color: white;
    font-size: 0.9rem; 
    cursor: pointer;
    @include border-radius(10px);
    
    &:hover{
   
      background: #ffffff;
      border: 1px solid $primary;
      color: $primary;
    }
    
  }
  
  .professional .learn{
    background: white;
    color: $primary;

   &.learn:hover{
      color: white;
      background-color: transparent;
      border: 1px solid white;
    }
  }
 

  //MEDIA min-width: 768px

  @include media-md{
 
    h1{
      font-size:1.6em;
    }
    #bottom{
        display:block;
       }

    #top img{
        top: 0;
        right: 0;
      }

      #bottom img{
        position:absolute;
        transform: translate(-40rem, -13rem);
      }

      section{
        padding:1.2rem;
        margin-top:4rem;
        display: flex;
        flex-direction: row;
        width: 75%;
        margin: 2em auto;
        align-items: center;
        justify-content:center;
        
        
    }

    .basic-master{
      
        width: 33.33%;
    }

    .professional{
        padding: 2em 1.5em;
        width: 33.33%;
        
    } 

    .monthly, .annually  {
      font-size: 3.7rem;
      padding: 0 0 0.4em;
    }

    .learn{
      width: 100%;
    }
  
  }